*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

background:#1F1F1F;
color:white;

}



nav{

height:70px;

background:#2D2D2D;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 60px;

}



.logo{

font-size:25px;
font-weight:600;

}



.nav-links a{

color:white;

text-decoration:none;

margin-left:25px;

}



.nav-links a:hover{

color:#00c6ff;

}




.container{


min-height:90vh;

display:flex;

justify-content:center;

padding:40px;


}



.result-box{


width:800px;

background:#292929;

padding:40px;

border-radius:20px;


box-shadow:0 0 20px rgba(0,0,0,0.4);


}



.result-box h1{


text-align:center;

font-size:32px;


}



.subtitle{

text-align:center;

color:#aaa;

margin-bottom:30px;


}



.career-card{


background:#1F1F1F;

padding:25px;

border-radius:15px;

text-align:center;

margin-bottom:30px;


}



.career-card h2{

color:#00c6ff;

font-size:28px;

}




.section{

margin-top:30px;

}



.section h2{

margin-bottom:15px;

}



#roadmap,
#skills,
#projects{


background:#1F1F1F;

padding:20px;

border-radius:15px;


}



.item{


background:#00c6ff;

color:black;

padding:10px 15px;

border-radius:20px;

display:inline-block;

margin:8px;


}