*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#EEF2FF;
padding:40px;
display:flex;
justify-content:center;
gap:30px;
}

.container{

width:500px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.preview{

width:500px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

display:none;

}

h1{

text-align:center;

margin-bottom:20px;

color:#4F46E5;

}

input,
textarea{

width:100%;

padding:12px;

margin:10px 0;

border-radius:10px;

border:1px solid #ccc;

}

textarea{

height:80px;

resize:none;

}

button{

width:100%;

padding:12px;

margin-top:12px;

border:none;

border-radius:10px;

background:#4F46E5;

color:white;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#3730A3;

}

.preview h2{

color:#4F46E5;

margin-bottom:15px;

}

.preview h3{

margin-top:18px;

}

